<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APRENDOCONOLI"
        tools:targetApi="31">
        <activity
            android:name=".View.Opt_Nav_Profesor.Contenedor_Profe1_Activity"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true"
            />
        <activity
            android:name=".View.Login_Colegio.Student.Login_Basic_Activity"
            android:exported="false" />
        <activity
            android:name=".View.Opt_Nav_Alumno.Cont_Alumno1_Activity"
            android:exported="false" />
        <activity
            android:name=".Fragments.Nav_Activity"
            android:exported="false" />
        <activity
            android:name=".Pruebas.NavTab_Activity"
            android:exported="false" />
        <activity
            android:name=".Model.TabNabBar.AlumnoNav_Activity"
            android:exported="false" />
        <activity
            android:name=".View.Login_Colegio.Profesor.Profesor_Colegio"
            android:exported="false" />
        <activity
            android:name=".Pruebas.Toolbar_spru_Activity"
            android:exported="false" />
        <activity
            android:name=".Pruebas.Login_Student"
            android:exported="false" />
        <activity
            android:name=".Model.Select_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>